body{
    background-color: #cbeef3;
}

.calc, .courseSale, .registration{
    background-color:aqua;
    padding: 20px 30px;
    width: 500px;
    margin: 30px auto 50px;
    line-height: 25px;
   }

   label{
    display: block;
}

input[type="checkbox"]{
    display: inline;
}

@media (min-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  
  @media (max-width:1280px) {
    body {
      background-color: #cbeef3;
      background-color: red;
    }
  }

  @media (max-width:701px) {
    body {
      background-color: red;
      background-color: rgb(245, 12, 187);
    }
  }

  @media (max-width:501px) {
    body {
      background-color: rgb(245, 12, 187);
      background-color: rgb(252, 255, 66);
      
    }
  }

  @media (max-width:376px) {
    body {
      background-color: rgb(252, 255, 66);
      background-color: rgb(14, 244, 33);
    }
  }

  