body{
    background-color: #cbeef3;
}

.calc, .courseSale, .registration{
    background-color:aqua;
    padding: 20px 30px;
    width: 500px;
    margin: 30px auto 50px;
    line-height: 25px;
   }

   label{
    display: block;
}

input[type="checkbox"]{
    display: inline;
}